@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fdf3d8;
}
header{
    display: flex;
    background-color: #795545;
    color: white;
    justify-content: center;
    align-items: center;
}
header h1{
    margin: 15px 0;
}
header #logo-img {
    width: 50px;
    margin-right: 10px;
}

main{
    flex-grow: 1;
    display: flex;
}

#project-section{
    padding: 15px;
    width: 300px;
    min-width: 250px;
    background-color: #e6cbae;
    display: flex;
    flex-direction: column;
}

#project-section button{
    padding: 10px 20px;
    border:none;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
}
#project-section button:hover{
    background-color: #cea980;
}

#project-list-title{
    margin: 10px 0 0;
}
#project-list{
    list-style: none;
    padding: 0;
}
.project-list-items{
    padding-left: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-list-items:hover{
    background-color: #cea980;
}

.delete-project-buttons{
    color: gray;
    visibility: hidden;
}
.project-list-items:hover .delete-project-buttons{
    visibility: visible;
}
.delete-project-buttons:hover{
    color: black;
}

#add-project-input{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #cea980;
}

#project-form-button-container{
    display: flex;
    justify-content: space-between;
}

#add-project-input{
    width: 100%;
}

#project-form-button-container button{
    width: 45%;
    text-align: center;
    border: 2px solid #795545;
    color: #795545;
    font-size: 16px;
    padding: 8px 20px;
}

#project-form-button-container button:hover{
    background-color: #795545;
    color: white;
}

#todo-list-section{
    background-color:peru;
}


footer{
    background-color: #795545;
    color: white;
    text-align: center;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
footer p a{
    padding: 9px 11px;
}
footer .fab{
    font-size: 26px;
    color: white;
}