@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fdf3d8;
}
header{
    display: flex;
    background-color: #795545;
    color: #fdf3d8;
    justify-content: center;
    align-items: center;
    position: relative;
}
header h1{
    margin: 15px 0;
}
header #logo-img {
    width: 50px;
    margin-right: 10px;
}

#hamburger-button{
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 20px;
    border: none;
    background-color: transparent;
    color: #fdf3d8;
}
#hamburger-button:hover{
    background-color: #e6cbae;
    color: black;
}
.hamburger-button-clicked{
    background-color: #e6cbae !important;
    color: black !important;
}
.hamburger-button-clicked:hover{
    background-color: transparent !important;
    color: #fdf3d8 !important;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#project-section{
    padding: 15px;
    width: 100vw;
    background-color: #e6cbae;
    display: none;
    flex-direction: column;
}

#project-section.open{
    display: flex;
}

#project-section button{
    padding: 10px 20px;
    border:none;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
}
#project-section button:hover{
    background-color: #cea980;
}

#project-list-title{
    margin: 10px 0 0;
}
#project-list{
    list-style: none;
    padding: 0;
}
.project-list-items{
    padding-left: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-list-items:hover{
    background-color: #cea980;
}

.delete-project-buttons{
    color: darkslategrey;
    visibility: hidden;
}
.project-list-items:hover .delete-project-buttons{
    visibility: visible;
}
.delete-project-buttons:hover{
    color: black;
}

#add-project-input{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #cea980;
}

#project-form-button-container{
    display: flex;
    justify-content: space-between;
}

#add-project-input{
    width: 100%;
}

#project-form-button-container button{
    width: 45%;
    text-align: center;
    border: 2px solid #795545;
    color: #795545;
    font-size: 16px;
    padding: 8px 20px;
}

#project-form-button-container button:hover{
    background-color: #795545;
    color: #fdf3d8;
}

#todo-list-section{
    flex-grow: 1;
    text-align: center;
    position: relative;
}
#todo-list{
    list-style: none;
    padding: 0 40px;
}

#todo-list li{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    position: relative;
}
#todo-list li:hover{
    background-color: #efdca8;
}
#todo-list li div{
    display: flex;
    align-items: center;
}
.delete-todo-button{
    background: none;
    border: none;
    visibility: hidden;
    font-size: 18px;
}
#todo-list li:hover .delete-todo-button{
    visibility: visible;
    color: darkslategrey;
}
#todo-list li:hover .delete-todo-button:hover{
    color: black;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.checkbox-container .todo-cb {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: -5px;
    left: 10px;
    height: 25px;
    width: 25px;
    border: 3px solid #795545;
    border-radius: 7px;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container .todo-cb:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox-container .checkmark:after {
    left: 8px;
    top: -11px;
    width: 10px;
    height: 22px;
    border: solid #795545;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.todo-title{
    margin-left: 20px;
}

.line-through-decor{
    position:absolute;
}

.done-todo .line-through-decor{
    top: 50%;
    left: 60px;
    border:2px solid black;
    width: calc(100% - 95px);
    padding-left: 30px;
}

#add-todo-button{
    background-color: transparent;
    border: 3px solid #795545;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #795545;
    margin-bottom: 30px;
}

#add-todo-button:hover {
    background-color: #795545;
    color: #fdf3d8;
}

#add-todo-form{
    padding: 0 40px;
    margin-bottom: 30px;
}

#add-todo-form-title{
    border-top: 4px solid #795545;
    padding-top: 20px;
    font-size: 24px;
}

#add-todo-form-button-container button{
    background-color: transparent;
    border: 3px solid #795545;
    border-radius: 10px;
    color: #795545;
    font-size: 18px;
    padding: 8px 20px;
    width: 100px;
    margin: 0 10px;
}

#add-todo-form-button-container button:hover{
    background-color: #795545;
    color: #fdf3d8;
}

#add-todo-form input{
    font-size: 16px;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #795545;
}

footer{
    background-color: #795545;
    color: #fdf3d8;
    text-align: center;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
footer p a{
    padding: 9px 11px;
}
footer .fab{
    font-size: 26px;
    color: #fdf3d8;
}

@media only screen and (min-width: 650px) {
    main {
        flex-direction: row;
    }
    #project-section{
        width: 250px;
        display: flex;
    }
    #hamburger-button{
        display: none;
    }
}
